<div>
  <h2 id="page-heading" data-cy="TranslationHeading">
    <span jhiTranslate="legalisSpaceApp.translation.home.title">Translations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.translation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-translation"
        [routerLink]="['/translation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.translation.home.createLabel"> Create a new Translation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="translations?.length === 0">
    <span jhiTranslate="legalisSpaceApp.translation.home.notFound">No translations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="translations && translations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.note">Note</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.author">Author</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.source">Source</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.official">Official</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.content">Content</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.language">Language</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.law">Law</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.translation.treaty">Treaty</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let translation of translations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/translation', translation.id, 'view']">{{ translation.id }}</a>
          </td>
          <td>{{ translation.note }}</td>
          <td>{{ translation.author }}</td>
          <td>{{ translation.source }}</td>
          <td>{{ translation.official }}</td>
          <td>{{ translation.content }}</td>
          <td>
            <div *ngIf="translation.language">
              <a [routerLink]="['/language', translation.language?.id, 'view']">{{ translation.language?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="translation.law">
              <a [routerLink]="['/law', translation.law?.id, 'view']">{{ translation.law?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="translation.treaty">
              <a [routerLink]="['/treaty', translation.treaty?.id, 'view']">{{ translation.treaty?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/translation', translation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/translation', translation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(translation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
