<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="statement">
      <h2 data-cy="statementDetailsHeading"><span jhiTranslate="legalisSpaceApp.statement.detail.title">Statement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ statement.id }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.statement.description">Description</span></dt>
        <dd>
          <span>{{ statement.description }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.statement.title">Title</span></dt>
        <dd>
          <span>{{ statement.title }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.statement.country">Country</span></dt>
        <dd>
          <div *ngIf="statement.country">
            <a [routerLink]="['/country', statement.country?.id, 'view']">{{ statement.country?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.statement.treaty">Treaty</span></dt>
        <dd>
          <div *ngIf="statement.treaty">
            <a [routerLink]="['/treaty', statement.treaty?.id, 'view']">{{ statement.treaty?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/statement', statement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
