<div>
  <h2 id="page-heading" data-cy="TreatyHeading">
    <span jhiTranslate="legalisSpaceApp.treaty.home.title">Treaties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.treaty.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-treaty"
        [routerLink]="['/treaty/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.treaty.home.createLabel"> Create a new Treaty </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="treaties?.length === 0">
    <span jhiTranslate="legalisSpaceApp.treaty.home.notFound">No treaties found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="treaties && treaties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.treaty.description">Description</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.treaty.name">Name</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.treaty.voteDate">Vote Date</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.treaty.effectiveDate">Effective Date</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.treaty.law">Law</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let treaty of treaties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/treaty', treaty.id, 'view']">{{ treaty.id }}</a>
          </td>
          <td>{{ treaty.description }}</td>
          <td>{{ treaty.name }}</td>
          <td>{{ treaty.voteDate | formatMediumDate }}</td>
          <td>{{ treaty.effectiveDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="treaty.law">
              <a [routerLink]="['/law', treaty.law?.id, 'view']">{{ treaty.law?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/treaty', treaty.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/treaty', treaty.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(treaty)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
