<div>
  <h2 id="page-heading" data-cy="StatementHeading">
    <span jhiTranslate="legalisSpaceApp.statement.home.title">Statements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.statement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-statement"
        [routerLink]="['/statement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="legalisSpaceApp.statement.home.createLabel"> Create a new Statement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="statements?.length === 0">
    <span jhiTranslate="legalisSpaceApp.statement.home.notFound">No statements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="statements && statements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.statement.description">Description</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.statement.title">Title</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.statement.country">Country</span></th>
          <th scope="col"><span jhiTranslate="legalisSpaceApp.statement.treaty">Treaty</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statement of statements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/statement', statement.id, 'view']">{{ statement.id }}</a>
          </td>
          <td>{{ statement.description }}</td>
          <td>{{ statement.title }}</td>
          <td>
            <div *ngIf="statement.country">
              <a [routerLink]="['/country', statement.country?.id, 'view']">{{ statement.country?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="statement.treaty">
              <a [routerLink]="['/treaty', statement.treaty?.id, 'view']">{{ statement.treaty?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/statement', statement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/statement', statement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(statement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
