<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="treaty">
      <h2 data-cy="treatyDetailsHeading"><span jhiTranslate="legalisSpaceApp.treaty.detail.title">Treaty</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ treaty.id }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.treaty.description">Description</span></dt>
        <dd>
          <span>{{ treaty.description }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.treaty.name">Name</span></dt>
        <dd>
          <span>{{ treaty.name }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.treaty.voteDate">Vote Date</span></dt>
        <dd>
          <span>{{ treaty.voteDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.treaty.effectiveDate">Effective Date</span></dt>
        <dd>
          <span>{{ treaty.effectiveDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="legalisSpaceApp.treaty.law">Law</span></dt>
        <dd>
          <div *ngIf="treaty.law">
            <a [routerLink]="['/law', treaty.law?.id, 'view']">{{ treaty.law?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/treaty', treaty.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
