<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-country-heading" data-cy="CountryCreateUpdateHeading" jhiTranslate="legalisSpaceApp.country.home.createOrEditLabel">
        Create or edit a Country
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="legalisSpaceApp.country.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="legalisSpaceApp.country.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="legalisSpaceApp.country.ratifiedCountries" for="field_ratifiedCountries"
            >Ratified Countries</label
          >
          <select
            class="form-control"
            id="field_ratifiedCountries"
            data-cy="ratifiedCountries"
            name="ratifiedCountries"
            formControlName="ratifiedCountries"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                treatyOption.id === editForm.get('ratifiedCountries')!.value?.id ? editForm.get('ratifiedCountries')!.value : treatyOption
              "
              *ngFor="let treatyOption of treatiesSharedCollection; trackBy: trackTreatyById"
            >
              {{ treatyOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
