<div class="row justify-content-center">
  <div class="col-8">
    <h2 data-cy="CompareHeading"><span jhiTranslate="legalisSpaceApp.editors.compare.title">Compare</span></h2>
    <hr />
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <h1>{{ message }}</h1>
    <div>Select the law to compare</div>
    <select [(ngModel)]="law" (ngModelChange)="onLawChange(law)">
      <ng-container *ngFor="let l of laws">
        <option [ngValue]="l">{{ l.name }} ({{ l.country?.name }})</option>
      </ng-container>
    </select>
    <div *ngIf="contents">
      <ul>
        <li *ngFor="let content of contents; let index = index">
          <label
            ><input type="checkbox" name="{{ content.code }}" data-md-icheck (change)="toggleVisibility(index)" />{{ content.code }}</label
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row align-items-start justify-content-center editors-wrapper" *ngIf="contents">
  <div *ngFor="let content of contents; let index = index" class="col">
    <div class="NgxEditor__Wrapper" id="content-{{ content.code }}" *ngIf="contents[index].display">
      <ngx-editor-menu [editor]="content.editor"></ngx-editor-menu>
      <ngx-editor [editor]="content.editor" [ngModel]="content.translation?.content" [placeholder]="'Type here...'"></ngx-editor>
    </div>
  </div>
</div>
